<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bau.Applications.ComicsBooks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bau.Applications.ComicsBooks.Properties.Settings>
            <setting name="PathHelp" serializeAs="String">
                <value>C:\Documents and Settings\jbautistam\Mis documentos\Visual Studio 2005\Projects\Ibermática\Laboratorio\Help</value>
            </setting>
            <setting name="LastZoom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowPages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowThumb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WidthThumb" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WidthSplitThumb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AddComicInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyIP" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="URLAdvertising" serializeAs="String">
                <value>http://ant2e6.webs-interesantes.es/Advertising.xml</value>
            </setting>
            <setting name="TimeAdvertising" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PathUserData" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadBlogsAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeDownload" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MarkReadPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkReadInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MarkNotUpdatesInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShowEntriesRead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEntriesNoRead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEntriesInteresting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemplateFeeds" serializeAs="String">
                <value/>
            </setting>
        </Bau.Applications.ComicsBooks.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
